@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #f9f9f9;
}

/* Tailwind config for hiding scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
