<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115880284665-uoa2atplp66scojckl9vtbvoft51b5q1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115880284665-uoa2atplp66scojckl9vtbvoft51b5q1</string>
	<key>API_KEY</key>
	<string>AIzaSyCPIc7jSaIu8d-hFn0svQjLEbWp-9kiy3c</string>
	<key>GCM_SENDER_ID</key>
	<string>115880284665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartwater</string>
	<key>PROJECT_ID</key>
	<string>smartwater-949ac</string>
	<key>STORAGE_BUCKET</key>
	<string>smartwater-949ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115880284665:ios:bd206dc80a8cfe232eed28</string>
</dict>
</plist>